* {
  margin:0;
  padding:0;
}

body {
  background-color: #1F1C26;
  color:white;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:white;

}
.font_family_light{
  font-family: 'Popins-Light';
  font-size: 300;
  font-style: normal;
  
}

.font_family_regular{
  font-family: 'Popins-Regular';
  font-style: normal;
  font-weight: 400;
  
}

.font_family_medium{
  font-family: 'Popins-Medium';
  font-style: normal;
  font-weight: 500;

}
.font_family_semibold{
  font-family: 'Popins-Semibold';
  font-style: normal;
  font-weight: 600;
  
}
.font_family_bold{
  font-family: 'Popins-Bold';
  font-style: normal;
  font-weight: 700;
  
}
.font_size_small{
  font-size: 12px;
  line-height: 18px;
}
.font_size_min{
  font-size: 14px;
  line-height: 21px;
}
  h2{
  font-size: 64px;
  line-height: 96px;
  
}
.font_size_normal{
  font-size: 20px;
  line-height: 30px;
}
.font_size_regular{ 
    font-size:29px ;
    line-height:43px;
  }
.font_size_light{
    font-size: 18px;
    line-height: 27px;
  }
.font_size_medium{
    font-size: 30px;
   line-height: 45px;
  }
.italic{
  font-style: italic;
}  
.color_grey{
    color: rgba(255, 255, 255, 0.36);
  }
.color_black{
    color: rgba(13, 13, 13, 1);
    
  }
.color_lightblack{
  color: rgba(51, 47, 60, 1);

}
.transform_text{
  text-transform: uppercase;
}

.flex{
  display:flex;
  align-items: center;
}
.space_between{
  justify-content: space-between;
}
.border_btm{
  border-bottom:5px solid #59253E;
}


.offset {
  max-width: 1160px;
  margin: 65px auto;
}

header {
  margin-bottom:65px;
}
 
.logo {
  padding: 30px 24px;
  border: 2px solid white;
}
.margin{
  margin-top:65px;
  margin-bottom:91px;
  color: rgba(255, 255, 255, 0.36);
}
.item{
  margin: 0 20px;
}
.btn{
  margin-left:151px;
  margin-bottom: 24px;
}
.btn_appear{
  display: none;
  padding:20px 30px;
  background: #F24B88;
  border-radius:10px;
  width:150px;
  margin-top: 20px;

}
.btn_min {
  padding:0px 8px;
  background: #F24B88;
  border:2px solid;
  border-color: #F24B88;  
}
.btn_border{
  background: black;
  border-color:white;
  padding:0 5px;
}
.btn_middle{
  padding:20px 30px;
  background: #F24B88;
  border-radius:10px;
  width:150px;
}
.btn_big{
  padding:20px 30px;
  background: #F24B88;
  border-radius:10px;
  width:150px;
}

.btn_normal{
  padding:3px 8px;
  background: rgba(242, 75, 136, 1);
  border-radius:5px;
  
}
.btn_shadow{
  margin-left:151px;
  margin-bottom: 24px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
 
}
.main{
  justify-content: space-evenly;
}
.border_radius{
  border-radius:10px;
}
.main_left{
  margin:0 0 60px;
}
.main_center{
  margin-left:67px;
}

.main_right{
  margin:0 25px;
}

.margin_top{
  margin-top:25px;

}
.margin_left{
  margin-left:15px;
}
h2{
  letter-spacing: 0.215em;
}
h4{
  letter-spacing: 0.215em;
  font-size:29px ;
  line-height:43px;
}
h6{
  padding-left:12px;
}
.element{
  margin: 20px 0; 
  padding:30px  25px;
  border-radius:10px;
  background:#332F3C;
  width: 100%;
}


.arrow_icon{
  height:40px;
  width:40px;
  background:#F24B88;
  border-radius:50%;
  position:relative;

}
.arrow_icon::before{
  content:url('image/arrow.svg');
  position:absolute;
  top:10px;
  left:15px;
}
.center{
  justify-content: center;
}
.middle{
  margin-top:150px;
  margin-bottom: 58px;
  background:rgba(51, 47, 60, 1);

}
.middle_pic{
   width:100%;

}
.middle_margin{
  margin:0 40px;
}
.margin_bottom{
  margin-bottom: 50px;;
}


.text_margin{
  margin:0 0 20px 0;
}

.extra_space{
  margin-top:156px;
  margin-bottom:102px;
}

.margin_right{
  margin-right:20px;

}
.padd_bottom{
  padding-bottom: 20px;
}
.pic_size{
  width:275px;

}
.bg{
  background: white;
}
.text_align{
  text-align: center;
  margin:10px 0px 105px 0px;

}
.middle{
  text-align: center;
  background: rgba(51, 47, 60, 1);
  padding:0 0 65px 0;
  margin:0 0  58px 0;

}
.middle_title{
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.215em;
  padding:66px 0 0 0;

}
.middle_text{
  margin:0 0 66px 0;
}
.bg_black{
  background: black;
  margin:0 30px 0 ;
 
}
footer{
  border-top: 1px solid rgba(242, 242, 242, 1);
  border-bottom: 1px solid rgba(242, 242, 242, 1);
  margin:36px 0 15px 0;
  justify-content: space-around;
}
.footer_logo{
  width:200px;
  flex-direction: column;
  margin:36px 0 15px 0;
}
.social{
  margin:15px 0;
}

.footer_item{
  padding:0 30px 50px 30px;
}
.footer_down{
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  margin:25px 0 14px 0;
}
.footer_down::placeholder{
 padding:10px 26px;
 font-size: 13px;
 line-height: 19px;
}
.item_p{
  padding:8px 0;
}
.item_text{
  width:320px;
}
.item_two{
  padding-bottom: 85px;
}
.item_three{
  padding-bottom: 115px;
}
.under_text{
  padding:35px 0 35px 0;
}
.width{
  width:170px;
}
.mob_gym{
  display:none;
}
.main_text{
  display:none;
}
.double{
  display: flex;

}
#burger,[for=burger]{
  display:none;
}
.btn_align{
  display:none;
}

@media(max-width:1112px){
  .offset{
    max-width:834px;
  }
  .main_center{
    margin-left:40px;
  }
  h2,h4{
    text-align: center;
  }
  
  .button{
    font-size: 14px;
    line-height:21px;
  }
  .btn_big{
    width:100px;
  }
  .btn_first{
    margin-right: 10px;
  }
  .picture{
    width:270px;
  }
  .pic_size{
    width:200px;
  }
  .btn{
    margin-left:90px;
  }
  .middle{
    margin-top:100px;
    width:103%;
    flex-direction: column;
  }
  
  .middle_title{
    font-size: 36px;
    line-height: 60px;
  }  
  footer{
    width:103%;
  }
  .footer_item{
    width:30%;
    padding-top:25px;
  }
  
  .item_three{
    padding-top:50px;
    
  }
  .btn_appear{
    display: none;
  }
  
}
@media(max-width:800px){
  .offset{
    max-width: 700px;
    margin:12px auto;
  }
  header{
    padding:30px 50px;
   
  }
  .menu{
    display: none;
  }
  [for=burger]{
    display:block;
    position: relative;
    width:30px;
    text-align: center;
    right:30px; 
  }
  
  .nav_items{
    padding:15px ы0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .nav_element{
    padding:65px 50px 20px 50px;
  }
  .nav_btn{
    background: #F24B88;
    padding:2px 13px;
    border: 2px solid  #F24B88;
    
  }
  .trans{
    border:2px solid white;
    padding:2px 10px;
    background: rgba(89, 37, 62, 1);
    box-sizing: border-box;
  }
  nav{
    display:none; 
    width:30vw;
    position:fixed;
    right:0;
    top:5px;
    padding:30px 0 30px 0;
    background: rgba(89, 37, 62, 1);
    box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 0px 20px;
   }

  #burger:checked + label nav{
    display: block;
  }
  
  .main{
    flex-direction: column-reverse;
    
  }
  .gym{
    display:none;
  
  }
  
  .mob_gym{
    display:block;
    width:90vw;
    border-radius:20px;
    margin-right:20px;
    padding-bottom: 60px;
  }
  .main_right{
    display:none;
  }
  h2{
    padding:50px 0 0 0;
    font-size: 26px;
    line-height: 39px;
  }
  .margin{
    text-align: center;
    width:600px;
    margin:20px 0 40px 0;
    
  }
  .button{
    justify-content: center;
  }
  .btn_big{
    display:none;

  }
  .btn_first{
    display: block;
    font-size: 20px;
    line-height: 30px;
    width: 150px;
    
  }
  .color_black{
    color:white;
  }
  .caroussel{
    flex-direction: column;
    flex-wrap: wrap;

  }
  .picture{
    width:90%;
    border-radius:20px;
  }
  .main_title{
    display:none;
  }
  .main_text{
    display:block;
    margin-bottom: 40px;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 39px;
   margin-right: 80px;

  }
  .text_margin, .btn_normal{
    display: none;
  }

  .middle_pic{
    padding:10px;
  
  }
  
  .name_pic{
    position: relative;
    left:10px;
    bottom:50px;
    font-size: 24px;
    line-height:35px;
   
  }
  .carrousel_title{
    margin-left:40%;
    margin-top: -150px;
    margin-bottom: -50px;
  }
  .carrousel_menu{
    flex-wrap: wrap;
    justify-content: center;
  }
  .bg{
    background-color: #1F1C26;
  }
  .profession, .text_align{
    display: none;
  }
  .pic_size{
    width:41vw;
    height:41vh;
    border-radius: 40px;
  }
  .btn_appear{
    display: block;
    text-align: center;
    margin-bottom: 50px;
  
  }
  .extra_margin{
    margin-right: 80px;
  }
  .middle{
    display:flex;
    align-items: center;
  }
  .middle_text,.middle_title{
    width:500px;
  }
  footer{
    flex-direction: column;
  }
  .footer_elements{
    flex-direction: column-reverse;
  }
  .footer_bg{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }
  .item_text{
    text-align: center;
  }
  .footer_down{
    width:100%;
    padding:10px 92px;
  }
  .footer_down::placeholder{
    text-align: center;

  }
  .item_three{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    width:100%;

  }
  .double{
    display: flex;
    justify-content:space-around ;
    width:150%;
  }
  .under_text{
    justify-content: center;
    flex-direction: column;
    
  }
}

@media(max-width:736px){
  .offset{
    max-width:580px;
  }
  header{
    padding:30px 0px 0px 0px;

  }
  [for=burger]{
    right:-20px;
  }
  .nav_element{
    padding:50px 20px 50px;
  }
  .carrousel_menu{
    display:flex;
    align-items: center;
    flex-direction: column;
  }
  .carrousel_title{
    margin-left:35%;
  }
  h6{
    text-align: center;
  }
}
@media(max-width:568px){
  .offset{
    max-width: 320px;
  }
  header{
    margin-left:-70px;
    margin-right:-70px;
  }
  .logo{
    padding:20px 30px;
  }
  .logo_one, .logo_second{
    width:20vw;
  }
  .nav_element{
    padding:50px 0px 50px;
  }
  .margin{
    width:500px;
  }
  .main_text{
    margin-right:40px;
  }
  .middle_pic{
    margin-left:-15px;
  }
  .btn_appear{
    margin-left:35px;
  }
  .carrousel_title{
    margin-left:25%;
  }
  .btn_align{
    display:block;
    margin-left:0px;
    margin-right:10px;
  }
  .middle{
    margin-left:-110px;
    width:550px;
  }
}
@media(max-width:320px){
  .offset{
    max-width:300px;
  }
  header{
    margin:0px 10px 0 10px;
  }
  [for=burger]{
    bottom:20px;
  }
  .logo{
    padding:5px 10px;
    margin-bottom: 20px;
  }
  .btn_appear{
    padding:5px 10px;
    border-radius:5px;
    margin-left:10px;

  }
  h2{
    font-size: 29px;
    line-height: 43px;
  }
  h4{
    letter-spacing: 0.1em;
    text-align: center;
  }
  .margin{
    width:100%;
  }
  .pic_lift{
    margin-left:20px;
  }
  .btn_appear{
    margin-left:30px;
  }
  .pic_size{
    width:100%;
    border-radius:5px;
    margin-left: 15px;
  }
  .middle_title{
    width:350px;
    font-size:26px;

  }
  .middle_text{
    width:280px;
    margin-right: 10px;
  }
  .btn_middle{
    padding:10px 15px;
  }
  .footer_item{
    text-align:center;
  }
  footer{
    width:100%;
    flex-direction: column;
  }
  .footer_elements{
    width:50%;
  }
  .footer_down{
    width:150%;
    padding:0;
  }
  .footer_down::placeholder{
    width:25%;
  }
  .under-text{
    display: block;
  }

}