@font-face {
    font-family: 'Popins-Light' ;
    src: url('Poppins-light.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Popins-Regular' ;
    src: url('Poppins-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Popins-Medium' ;
    src: url('Poppins-Medium.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Popins-SemiBold' ;
    src: url('Poppins-SemiBold.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Popins-Bold' ;
    src:url('Poppins-Bold.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}